<%- include('templates/head.ejs') %>
<%- include('templates/header.ejs') %>

      
        <div class="app-main">
            <%- include('templates/sidebar.ejs') %>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title app-page-title-simple">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem">
                                        <span class="d-inline-block pr-2">
                                            <i class="lnr-apartment opacity-6"></i>
                                        </span>
                                        <span class="d-inline-block">Admin Dashboard</span>
                                    </div>
                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                  

                   
                    <div class="row">
                        <div class="col-sm-12 col-md-7 col-lg-12">
                            <div class="mb-3 card">
                                things here
                            </div>
                        </div>
                        
                    </div>
                    

                    

               
                </div>
             <%- include('templates/footer.ejs') %>