<%- include('template/header') %>
	<%- include('template/sidebar') %>
		<%- include('template/header_main') %>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Change Password</h1>
                     <div id="pmsg"></div>
					<div class="row">
						<div class="col-12">
							<div class="card">
								
								<div class="card-body">
									<form id="changepassword">
                                     <div class="row">
										<div class="col-md-12">
											<label for="">Old Password</label>
											<input type="text" class="form-control" id="oldpassword" required>
										</div>
										<div class="col-md-12">
											<label for="">New Password</label>
											<input type="text" class="form-control" id="newpassword" required>
										</div>
										<div class="col-md-12">
											<label for="">Comfrim Password</label>
											<input type="text" class="form-control" id="comfirmpassword" required >
										</div>
										<div class="col-md-12" style="margin-top:2%;">
											<button type="submit" class="btn btn-primary">Change Password</button>
										</div>
									 </div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
			<%- include('template/footer') %>
          
			