<%- include('template/header') %>
	<%- include('template/sidebar') %>
		<%- include('template/header_main') %>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"> Dashboard</h1>
					 <p class="alert alert-info">Your Withdrawal Has been Disabled</p>
					<div class="row">
						<div class="col-xl-12 col-xxl-5 d-flex">
							<div class="w-100">
								<div class="row">
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">BTC</h5>
													</div>
													
													<div class="col-auto">
														<div class="stat text-primary" style="background-color: orange;">
															<i class="align-middle fa-brands fa-btc" style="color: white;"></i>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3" id="bitcoin"></h1>
												<div class="mb-0">
													<span class="text-danger"> 
														<i class="mdi mdi-arrow-bottom-right" id="changebtc"></i>
													 </span>
													<span class="text-muted">Since last 10 seconds</span>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Ethereum</h5>
													</div>

													<div class="col-auto">
														<div class="stat text-primary" style="background-color: #0d4cab;">
															<i class="align-middle fa-brands fa-ethereum" style="color:white" ></i>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3" id="eth"></h1>
												<div class="mb-0">
													<span class="text-success"> <i class="mdi mdi-arrow-bottom-right" id="ethchange"></i>  </span>
													<span class="text-muted">Since last 10 seconds</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Dogecoin</h5>
													</div>

													<div class="col-auto">
														<div class="stat text-primary " style="background-color: rgb(199, 163, 45);">
															<i class="align-middle fa-solid fa-d" style="color:white"  ></i>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3" id="dogecoin"></h1>
												<div class="mb-0">
													<span class="text-success"> <i
															class="mdi mdi-arrow-bottom-right" id="changedoge"></i> </span>
															<span class="text-muted">Since last 10 seconds</span>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">USDT</h5>
													</div>

													<div class="col-auto">
														<div class="stat text-primary" style="background-color: rgb(100, 187, 100);">
															<i class="align-middle fa-solid fa-dollar-sign" style="color:white" ></i>
														</div>
													</div>
												</div>
												<h1 class="mt-1 mb-3" id="usdt"></h1>
												<div class="mb-0">
													<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right" id="changeusdt" ></i></span>
															<span class="text-muted">Since last 10 seconds</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						
					</div>

					<div class="row">
						
						<div class="col-12 col-md-12 col-xxl-12 d-flex order-3 order-xxl-2">
							<div class="card flex-fill w-100">
								<div class="card-header">

									<h5 class="card-title mb-0">Real-Time</h5>
								</div>
								<div class="tradingview-widget-container">
									<div id="tradingview_chart"></div>
								</div>
							</div>
						</div>
						
					</div>

					

				</div>
			</main>

			<%- include('template/footer') %>