<%- include('template/header') %>
	<%- include('template/sidebar') %>
		<%- include('template/header_main') %>
			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">VERIFY YOUR ACCOUNT</h1>
					<div class="alert alert-info">Note!!: all documents must be provided for user to be eligible of withdrawing their funds</div>
					<div class="alert alert-success">Yours documents have been verified</div>
                     <div id="msg"></div>  
					<div class="row">
						<div class="col-12">
							<div class="card">
								
								<div class="card-body">
									<div class="row">
										 <!--Beginning of column-->
										<div class="col-md-6">
										     <div class="card">
												<div class="card-body">
													<p class="alert alert-info">Valid Visa or Biometric Residence Permit (BRP)</p>
													<form  id="visa_biometrics">
														<select class="form-control" style="height:40px" id="visa_type">
															<option value="Skilled Woker Visa">Skilled Worker Visa</option>
															<option value="Health and Care Worker Visa">Health and Care Worker Visa</option>
															<option value="Global Talent Visa">Global Talent Visa</option>
															<option value="BRP card ">BRP card </option>
															
														</select>
														<input type="file" class="form-control custom-input" id="fileupload" >
														<button type="submit" class="btn btn-primary custom-upload-btn" ><i class="fa-brands fa-studiovinari"></i>  Uplaod Visa</button>
													</form>
												</div>
											 </div>
										</div><!-- end of column-->


										 <!--Beginning of column-->
										 <div class="col-md-6">
											<div class="card">
											   <div class="card-body">
												   <p class="alert alert-info">Upload passport: Must be valid and up to date.</p>
												   <form  id="passport">
													<input type="text" class="form-control custom-input" id="text-passport" value="Internal Passport" readonly>
													   <input type="file" class="form-control custom-input " id="fileupload1">
													  
													   <button type="submit" class="btn btn-primary custom-upload-btn"><i class="fa-solid fa-passport"></i>  Upload Passport</button>
												   </form>
											   </div>
											</div>
									   </div><!-- end of column-->
                                     <hr>

									  <!--Beginning of column-->
									  <div class="col-md-6">
										<div class="card">
										   <div class="card-body">
											   <p class="alert alert-info">Prove of right to work (Can be: BRP Or Share Code from UKVI gov.uk/prove-right-to-work)</p>
											   <form id="work">
												<input type="text" class="form-control custom-input" id="work-code" placeholder="Enter Your Code Here" required>
												   <button type="submit" class="btn btn-primary custom-upload-btn"><i class="fa-brands fa-creative-commons-nd"></i> Save Code</button>
											   </form>
										   </div>
										</div>
								   </div><!-- end of column-->


								    <!--Beginning of column-->
									<div class="col-md-6">
										<div class="card">
										   <div class="card-body">
											   <p class="alert alert-info">National Insurance (NI) Number</p>
											   <form  id="NIN">
												<input type="text" class="form-control custom-input" id="text-Nin" placeholder="Enter Your Number Here"  required>
												   <button type="submit" class="btn btn-primary custom-upload-btn"><i class="fa-solid fa-mobile"></i> Save NIN</button>
											   </form>
										   </div>
										</div>
								   </div><!-- end of column-->
                                   



								   <hr>

								   <!--Beginning of column-->
								   <div class="col-md-6">
									 <div class="card">
										<div class="card-body">
											<p class="alert alert-info">Prove of Current Address</p>
											<form  id="prove_address">
												<select class="form-control" style="height:40px" id="address_type">
													<option value="" >Choose Prove Type</option>
													<option value="Tenancy agreement">Tenancy agreement</option>
													<option value="Tenancy agreement">Tenancy agreement</option>
													<option value="Council tax bill">Council tax bill</option>
													<option value="Bank statement">Bank statement</option>
													
												</select>
												<input type="file" class="form-control custom-input" id="fileupload2" >
												<button type="submit" class="btn btn-primary custom-upload-btn"><i class="fa-solid fa-location-dot"></i> Upload Address</button>
											</form>
										</div>
									 </div>
								</div><!-- end of column-->


								<!--Beginning of column-->
								<div class="col-md-6">
									<div class="card">
									   <div class="card-body">
										   <p class="alert alert-info">Tax Documents (P45, P60, or payslips )</p>
										   <form  id="tax">
												<input type="text" value="Tax" id="text_tax" readonly class="form-control">
											   <input type="file" class="form-control custom-input" id="fileupload3" >
											   <button type="submit" class="btn btn-primary custom-upload-btn"><i class="fa-solid fa-file-invoice"></i> Upload Tax</button>
										   </form>
									   </div>
									</div>
							   </div><!-- end of column-->

								 <!--Beginning of column-->
								 <div class="col-md-6">
									 <div class="card">
										<div class="card-body">
											<p class="alert alert-info">Enter your UK Bank Account</p>
											<form  id="bank">
											 <input type="text" class="form-control custom-input" id="account_number" placeholder="Enter Account Number " required>
											 <input type="text" class="form-control custom-input" id="account_name" placeholder="Enter Account Name " required>
											 <input type="text" class="form-control custom-input" id="bank_name" placeholder="Enter Name Of Bank " required>
												<button type="submit" class="btn btn-primary custom-upload-btn" style="margin-left:22%"><i class="fa-solid fa-building-columns"></i> Save Account Details</button>
											</form>
										</div>
									 </div>
								</div><!-- end of column-->
								
								 
								   

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

			<%- include('template/footer') %>