<%- include('template/header') %>
	<%- include('template/sidebar') %>
		<%- include('template/header_main') %>
			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">VERIFY YOUR ACCOUNT</h1>
					<div class="alert alert-info">Note!!: all documents must be provided for user to be eligible of withdrawing their funds</div>
                    <div id="msg"></div> 
					<div class="row">
						<div class="col-12">
							<div class="card">
								
								<div class="card-body">
									<div class="row">
										 <!--Beginning of column-->
										<div class="col-md-12">
										     <div class="card">
												<div class="card-body">
													<p class="alert alert-info">Valid Visa or Biometric Residence Permit (BRP)</p>
													
												</div>
											 </div>
										</div><!-- end of column-->	
                                   
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

			<%- include('template/footer') %>