<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Bank Deposite using Paypal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="deposit">
                <div class="row">
                    <div class="col-md-12">
                        <label for="" style="margin-bottom: 2%;">Amount</label>

                        <input type="text" class="form-control" id="amount" name="amount"
                            style="margin-bottom: 2%; height: 40px;" placeholder="5000"
                            required>
                    </div>
                    <div class="col-md-12">
                        <label for=""> Send amount to the email address bellow</label>
                        <input type="text" class="form-control" id="copy_email"
                            value="walisonmichael8@gmail.com"
                            style="height: 40px; margin-top: 2%;" readonly>
                        <span id="copyMsg"
                            style="display: none; color: green;">Copied!</span>
                    </div>
                    <div class="col-md-8">
                        <button type="button" id="copy_btn" class="btn btn-success"
                            style="margin-top: 2%;">copy </button>
                    </div>
                </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">i have paid</button>
        </div>
        </form>
    </div>
</div>
</div>