

										<!--Model Popup starts-->
										<div class="container">
											<div class="row">

												<div class="modal fade" id="successModal" role="dialog"
													style="border: none;">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header bg-success text-white">
																<button type="button"
																	class="close bg-success text-white"
																	data-dismiss="modal" aria-label=""
																	style="border:none"><span>×</span></button>
															</div>

															<div class="modal-body">

																<div class="thank-you-pop">
																	<h1>Thank You!</h1>
																	<p> Go to your transaction history and upload
																		reciept for confirmation</p>
																	<!--<h6 class="cupon-pop">Transaction  Id: <span id="transactionid">12345</span></h6>-->

																</div>

															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
										<!--Model Popup ends-->