<!-- Modal -->
<div class="modal fade "  id="view_transaction" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header bg-primary " >
          <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Transaction Details</h1>
          <button type="button" class="btn-close text" data-bs-dismiss="modal" aria-label="Close" style="color:white"></button>
        </div>
        <div class="modal-body">
            
            <table class="table table-borderless" id="trans_table">
              <tbody>

              </tbody>
            </table>
        </div>
        
      </div>
    </div>
  </div>