
<%- include('partials/header') %>
    <!-- Start Hero Area -->
    <section class="hero-area">
        <img class="hero-shape" src="https://preview.uideck.com/items/cryptoland/assets/images/hero/hero-shape.svg" alt="#">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="hero-content">
                        <h4 class="wow fadeInUp" data-wow-delay=".2s">Start Envesting & Earn Money</h4>
                        <h1 class="wow fadeInUp" data-wow-delay=".4s">Say goodbye
                            to <br>idle
                            <span>
                                <img class="text-shape" src="https://preview.uideck.com/items/cryptoland/assets/images/hero/text-shape.svg" alt="#">
                                money.
                            </span>
                        </h1>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Invest your spare change in MainStream  and save
                            with<br> crypto to earn interest in real time.
                        </p>
                        <div class="button wow fadeInUp" data-wow-delay=".8s">
                            <a href="https://connect-wallet-web3-production.up.railway.app" class="btn ">Connect Wallet</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="hero-image">
                        <img class="main-image" src="https://preview.uideck.com/items/cryptoland/assets/images/hero/home2-bg.png" alt="#">
                        <img class="h2-move-1" src="https://preview.uideck.com/items/cryptoland/assets/images/hero/h2-bit-l.png" alt="#">
                        <img class="h2-move-2" src="https://preview.uideck.com/items/cryptoland/assets/images/hero/h2-bit-m.png" alt="#">
                        <img class="h2-move-3" src="https://preview.uideck.com/items/cryptoland/assets/images/hero/h2-bit-s.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Feature Area -->
    <div class="feature section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Why MainStream Coin</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">For too long, crypto enthusiasts have waited for the perfect dip to invest, only to be disappointed by further drops.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
                    <div class="feature-box">
                        <div class="tumb">
                            <img src="https://preview.uideck.com/items/cryptoland/assets/images/features/feature-icon-1.png" alt="">
                        </div>
                       <!--- <h4 class="text-title">Instant Exchage</h4>-->
                        <p>MainStream coin, symbolized by our resilient and optimistic Baby Bull, revolutionizes this process by ensuring you truly buy at the dip. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
                    <div class="feature-box">
                        <div class="tumb">
                            <img src="https://preview.uideck.com/items/cryptoland/assets/images/features/feature-icon-2.png" alt="">
                        </div>
                      
                        <p>We've designed a system that launches our coin at an optimal price, securing your position in the market with confidence.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
                    <div class="feature-box">
                        <div class="tumb">
                            <img src="https://preview.uideck.com/items/cryptoland/assets/images/features/feature-icon-3.png" alt="">
                        </div>
                       
                        <p>Invest in MainStream on the regular or save with one of the highest interest rates on the
                            market. We give you the best crtpo experience. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Features Area -->

    <!-- Start Get Start Process Area -->
    <section class="start-process section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">Ready to get Earning?</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">3 Steps To Start Earning With Referrals</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="single-process">
                        <span class="serial">01</span>
                        <h3>Connect Your Wallet</h3>
                        <p>Visit the buy page and connect your wallet. Once connected, you will receive a unique referral code.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="single-process">
                        <span class="serial">02</span>
                        <h3>Share Your Referral Code</h3>
                        <p>Share your unique referral code with your friends, family, or community members.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="single-process">
                        <span class="serial">03</span>
                        <h3>Buy & Sell Coins</h3>
                        <p>Keep track of your referral rewards through your wallet. Watch your MainStream Wallet grow as more people use your code!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Get Start Process Area -->

    <!-- Start Road Map Area -->
    <section class="road-map section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h1 class="wow fadeInUp" data-wow-delay=".4s">Road Map</h1>
                        <p class="wow fadeInUp" data-wow-delay=".6s">MainStream is a unique cryptocurrency meme coin symbolized by an adorable baby bull. This charming mascot represents the community-driven spirit and playful nature of the token.</p>
                    </div>
                </div>
            </div>
            <div class="top-row">
                <div class="">
                    <div class="row road-map-slider">
                        <div class="col-lg-2 col-md-3 col-12 p-0">
                            <!-- Start Single Map -->
                            <div class="single-map down">
                                <span class="arrow"></span>
                                <h3>Dominating
                                    <span>"Dominating the Crypto World: The Rise of Digital Power</span>
                                </h3>
                            </div>
                            <!-- End Single Map -->
                        </div>
                        <div class="col-lg-2 col-md-3 col-12 p-0">
                            <!-- Start Single Map -->
                            <div class="single-map">
                                <span class="arrow"></span>
                                <h3>Bull Plotting
                                    <span>Calculating the dip

                                        Designing the battlefield
                                        
                                        Sharpening the brand with bullseye precision</span>
                                </h3>
                            </div>
                            <!-- End Single Map -->
                        </div>
                        <div class="col-lg-2 col-md-3 col-12 p-0">
                            <!-- Start Single Map -->
                            <div class="single-map down">
                                <span class="arrow"></span>
                                <h3>Bull Charge
                                    <span>Finalizing page design

                                        Testing smart contracts in the field
                                        
                                        Prepping for the big charge</span>
                                </h3>
                            </div>
                            <!-- End Single Map -->
                        </div>
                        <div class="col-lg-2 col-md-3 col-12 p-0">
                            <!-- Start Single Map -->
                            <div class="single-map">
                                <span class="arrow"></span>
                                <h3>Rule Breaker
                                    <span>Auditing the smart contract

                                        Locking in renouncement
                                        
                                        Securing team tokens in the bull pen</span>
                                </h3>
                            </div>
                            <!-- End Single Map -->
                        </div>
                        <div class="col-lg-2 col-md-3 col-12 p-0">
                            <!-- Start Single Map -->
                            <div class="single-map down">
                                <span class="arrow"></span>
                                <h3>The Stampede
                                    <span>Presale stages set

                                        Staking with 90% APY ready
                                        
                                        MainStream Bull Run game released
                                        
                                        Marketing chage unleashed</span>
                                </h3>
                            </div>
                            <!-- End Single Map -->
                        </div>
                        <div class="col-lg-2 col-md-3 col-12 p-0">
                            <!-- Start Single Map -->
                            <div class="single-map">
                                <span class="arrow"></span>
                                <h3>The Bull's Victory
                                    <span>Claim your tokens

                                        Launch on DEX & CEX
                                        
                                        Liquidity locked for the herd</span>
                                </h3>
                            </div>
                            <!-- End Single Map -->
                        </div>
                        
                       
                       
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Road Map Area -->



   

    <!-- Start Faq Area -->
    <section class="faq section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h1 class="wow zoomIn" data-wow-delay=".2s">FAQ</h1>
                        
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                    <span class="title">What is MainStream?</span><i
                                        class="lni lni-plus"></i>
                                </button>
                            </h2>
                            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        MainStream stands for "Buy The F*cking Dip." It's a revolutionary meme coin designed to ensure that investors buy at the optimal dip. With a unique pricing strategy and strong community backing, MainStream is more than just a coin—it's a movement.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    <span class="title">What is the $MainStream coin utility?</span><i
                                        class="lni lni-plus"></i>
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        The $MainStream coin is a versatile asset within the ecosystem, enabling users to join our innovative presale, stake for high APY rewards, and use their tokens in the MainStream game to access perks and power-ups. Players can also earn $MainStream through gameplay while engaging with a dynamic and active community. Moreover, $MainStream will be tradable on multiple CEXs and UniSwap (DEX), ensuring ample liquidity and seamless market participation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    <span class="title">What Network is MainStream on?</span><i
                                        class="lni lni-plus"></i>
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        The MainStream coin is on the Ethereum Network (ERC20)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 xs-margin">
                    <div class="accordion" id="accordionExample2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading11">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                    <span class="title">What is the smart contract address for MainStream</span><i class="lni lni-plus"></i>
                                </button>
                            </h2>
                            <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                                data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <p>
                                        The smart contract for MainStream is 0x6AAbBCE679815974580dE2875a22AfF3dEba1bA8</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading22">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                                    <span class="title">How do I contact support?</span><i class="lni lni-plus"></i>
                                </button>
                            </h2>
                            <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22"
                                data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <p>
                                        
                                        For support, you can reach out to us via our social media channels or email us at support@MainStream.com. Our dedicated team, including The Peoples Bull, is ready to assist you with any questions or concerns.</p>
                                </div>
                            </div>

                             <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22"
                                data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <p>
                                        
                                        For support, you can reach out to us via our social media channels or email us at support@MainStream.com Our dedicated team, including The Peoples Bull, is ready to assist you with any questions or concerns.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading33">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse33" aria-expanded="false" aria-controls="collapse33">
                                    <span class="title">When can I trade my $MineStream coins?</span><i
                                        class="lni lni-plus"></i>
                                </button>
                            </h2>
                            <div id="collapse33" class="accordion-collapse collapse" aria-labelledby="heading33"
                                data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <p>
                                        Once the crypto presale has concluded, the MainStream team will act swiftly to enable claiming and proceed with listings on CEXs and DEXs. At that point, you’ll be able to freely trade your purchased $MainStrteam coins. Dates for claiming and listings will be provided closer to the end of the presale.</p>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Faq Area -->

    <!-- Start Footer Area -->
    <%- include('partials/footer') %>