/*--thank you pop starts here--*/
.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
/*--thank you pop ends here--*/
.placeinput{
	margin-top: 2%;
	margin-bottom: 1%;
	height: 40px;
}
.change_hover_success:hover{
       color:white
}


wrapper {
	margin-top: 5vh;
  }
   
  .dataTables_filter {
	float: right;
  }
   
  .table-hover > tbody > tr:hover {
	background-color: none;
	
  }
   
  @media only screen and (min-width: 768px) {
	.table {
	  table-layout: fixed;
	  max-width: 100% !important;
	}
  }
   
  thead {
	background: #ddd;
  }
   
  .table td:nth-child(2) {
	overflow: hidden;
	text-overflow: ellipsis;
  }
   
  .highlight {
	background: #ffff99;
  }
   
  @media only screen and (max-width: 767px) {
	/* Force table to not be like tables anymore */
	table,
  thead,
  tbody,
  th,
  td,
  tr {
	  display: block;
	}
   
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr,
  tfoot tr {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
	}
   
	td {
	  /* Behave  like a "row" */
	  border: none;
	  border-bottom: 1px solid #eee;
	  position: relative;
	  padding-left: 50% !important;
	}
   
	td:before {
	  /* Now like a table header */
	  position: absolute;
	  /* Top/left values mimic padding */
	  top: 6px;
	  left: 6px;
	  width: 45%;
	  padding-right: 10px;
	  white-space: nowrap;
	}
   
	.table td:nth-child(1) {
	 
	  height: 100%;
	  top: 0;
	  left: 0;
	  font-weight: bold;
	}
   
	/*
	Label the data
	*/
	td:nth-of-type(1):before {
	  content: "Amount";
	  text-align: left;
	 
	}
   
	td:nth-of-type(2):before {
	  content: "Receipt";
	  text-align: left;
	}
   
	td:nth-of-type(3):before {
	  content: "Deposite Type";
	  text-align: left;
	}
   
	td:nth-of-type(4):before {
	  content: "Crypto Coin";
	  text-align: left;
	}
   
	td:nth-of-type(5):before {
	  content: "Crypto Amount";
	  text-align: left;
	}
   
	td:nth-of-type(6):before {
	  content: "Date";
	  text-align: left;
	}
	td:nth-of-type(7):before {
		content: "Status";
		text-align: left;
	  }
   
	.dataTables_length {
	  display: none;
	  text-align: left;
	}
	.rttd{
		text-align: right;
	}
  }
  .status_hover:hover{
	 background-color:white ;
  }
  .status_success:hover{
	
	background-color: white;
  }

